{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>{{ title | trans }}</h1>
    {% for product in products  %}
        {% if product.published %}
            <img src="{{ product.picture }}" alt="">
            <div>
                <p>{{ 'label.name' | trans }}: {{ product.name }}</p>
                <p>{{ product.price }} €</p>
                <p>{{ 'label.summary' | trans }}: </p>
                <p>{{ product.summary }}</p>
                <p>{{ 'label.description' | trans }}:</p>
                <p>{{ product.description }}</p>
                ----------------------
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}