<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Etoile de Marius {% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <a href="{{ path('index') }}">{{ 'welcome.name' | trans }}</a>
        <a href="{{ path('cloths') }}">{{ 'cloths.name' | trans }}</a>
        <a href="{{ path('pants') }}">{{ 'pants.name' | trans }}</a>
        <a href="{{ path('masks') }}">{{ 'masks.name' | trans }}</a>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
